h2{
  color: #ccc;
  background: darkgoldenrod;
}

.orangered{
  color: orangered;
}

.red {
  background: darkred;
  color: azure;
  font-width: bold;
}
.blue {
  background: cornflowerblue;
  color: gold;
  font-size: 1.5rem;
}.def {
  background: yellow;
  color: green;
  font-size: 1.5rem;
}
