<p>Attributes</p>
<p title="title">Attributes</p>
<p [title]="'title' + 12">Attributes</p>
<p [draggable]="true">Attributes</p>
<p [attr.draggable]="true">Attributes</p>

<p>Class</p>
<p [class.red]="true">Class</p>
<p [class.red-blue]="true">Class</p>
<p [class.blue]="true" [class.green]="true" [class.red]="true">Class</p>
<p class="red green blue">Class</p>
<p [class]="'red green blue'">Class</p>
<p [class]="['red', 'green', 'blue']">Class</p>
<p [class]="{red: true, blue: false, 'dark-blue': true }">Class</p>

<p>Styles</p>
<p [style.background-color]="'gold'"> Styles</p>
<p [style.background-color]="'gold'" [style.width]="'100px'"> Styles</p>
<p [style.background-color]="'gold'" [style.width.px]="150"> Styles</p>
<p [style]="'background-color: gold; width: 250px'"> Styles</p>
<p [style.width.px]="20" [style]="'background-color: gold; width: 250px'"> Styles</p>
<p [style]="{'background-color': 'green', width: '130px'}"> Styles</p>

<td [colSpan]="1">colSpan 1</td>
<td colspan="1">colSpan 1</td>
<td [attr.colspan]="1">colSpan 1</td>
